:root {
  --heading-font: "Sacramento", cursive;
  --heading-size: 100px;
  --text-align: center;
}

body {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: aliceblue;
}

.title {
  font-family: var(--heading-font);
  font-size: var(--heading-size);
  text-align: var(--text-align);
}

.date {
  font-family: var(--heading-font);
  text-align: var(--text-align);
  font-size: 50px;
  padding-bottom: 30px;
}

h2,
h3 {
  text-align: var(--text-align);
}

.wedding-date,
.birth-date {
  padding-bottom: 30px;
}

img {
  max-width: 100%;
  border: 5px aliceblue;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px aliceblue;
  display: block;
}

.family-info {
  text-align: center;
}

.family-heading {
  font-family: var(--heading-font);
  text-align: var(--text-align);
  font-size: 50px;
  text-decoration: none;
  color: black;
}

.family-heading:hover {
  text-decoration: underline;
}

.col-md-4 {
  text-align: var(--text-align);
}

.col-md-6 {
  font-family: "Indie Flower", cursive;
  padding-top: 20px;
  padding-bottom: 20px;
}

.thomas {
  padding-top: 30px;
  font-family: "Indie Flower", cursive;
  text-align: var(--text-align);
  font-size: 50px;
  color: green;
}

.lucy {
  font-family: "Indie Flower", cursive;
  text-align: var(--text-align);
  font-size: 50px;
  color: blueviolet;
}

.interesting-facts-lucy {
  padding-top: 125px;
}

.interesting-facts-thomas {
  padding-top: 100px;
}

.email-link {
  display: flex;
  justify-content: center;
  font-size: 28px;
  text-decoration: none;
}
